.not-found-page {
  text-align: center;
}

.not-found-message p,
.not-found-message a {
  padding-top: 1vw;
  font-size: 2vw;
}

.not-found-message p {
  opacity: 0.4;
}

.not-found-message a {
  color: #ff9900;
  text-decoration: none;
}

.not-found-message a:hover {
  font-weight: 500;
}

.not-found-message h1 {
  font-size: 10vw;
  padding-top: 20vh;
}

.not-found-message h4 {
  padding-top: 1vw;
  font-weight: 500;
  font-size: 4vw;
}