/* .about-page h1, 
.about-page h4 {
  text-align: left;
}

.about-page h1 {
  font-size: 6vh;
}

.about-page h4 {
  font-size: 2vh;
}

.about-page h4 b {
  font-weight: 700;
}

.about-page a {
  text-decoration: none;
  opacity: 0.7;
}

.about-page a:hover {
  opacity: 1;
} */