.about-page h1, 
.about-page p {
  text-align: center;
}

.about-page h1 {
  font-size: 7vh;
  line-height: 2;
}

.about-page p {
  font-size: 3.3vh;
  line-height: 2;
}

.about-page p b {
  color: #0a47fe;
  font-weight: 500;
}

.about-page a {
  text-decoration: none;
  font-weight: 500;
  opacity: 0.7;
}

.about-page a:hover {
  opacity: 1;
}