.stab52f20-div h3 {
    font-size: 5vh;
    line-height: 2;
    font-weight: 700;
}

.stab52f20-div h4 {
    font-size: 3.5vh;
    font-weight: 500;
    line-height: 2;
}

.stab52f20-div h4 b {
    font-weight: 600;
}

.stab52f20-div h5 {
    font-size: 3.1vh;
    font-weight: 500;
    line-height: 2;
}

.stab52f20-div ul li:before {
    content: "•";
    font-size: 100%;
    font-weight: 700;
    padding-right: 10px;
 }

 .stab52f20-div li {
    list-style-type: none;
    font-size: 2.4vh;
    line-height: 2;
  }

.stab52f20-div {
    margin-top: 5%;
    margin-bottom: 4%;
}

.stab52f20-div li a {
    text-decoration: none;
    font-weight: 500;
    opacity: 1;
}
  
.stab52f20-div li a:hover {
    opacity: 0.7;
}