.menu-nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-nav li {
    display: inline-block;
    padding-left: 4%;
    padding-right: 4%;
}

.menu-nav li a {
    color: #ff9900;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 300;
}

.menu-nav li a:hover {
    color: #ffc266;
}